<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<style>
    body
    {
        font-family: 'Nunito', sans-serif;
    }
    input{
        margin:8px;
        padding:4px;
        margin-left: 0%;
    }
    label{
        font-weight: bold;
        font-size:medium;
    }
    label:hover {
        cursor: pointer;
    }
    button:hover {
        cursor: pointer;
    }
    a:hover{
        cursor: pointer;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
<body style="background-image:url('img4.jpg');">
<div style="width: 30%; margin:auto; margin-top: 10%; border: 1px solid black; padding: 20px; border-radius: 5px; background-color: #F8F8F8;">
    <div style="font-size: large; display: flex; justify-content: center; padding: 2%; font-weight: bold;">
        <i class="far fa-comment-dots" style="margin-right: 2%;"></i> Welcome to our chatting application.
    </div>
    <div>
        <form action="/chat" method="GET">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="ip1" style="width:100%;"> 
            <br><br>
            
            <label for="room">Room</label>
            <input type="text" name="room"  id="room" class="ip2" style="width:100%;">
            <br><br>
            <input type="submit" onclick="inform()">
        </form>  
    </div>
</div>
</body>